
.big-title {
    color: black;
    font-size:  120px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    width: 60%;
}
#title{
    vertical-align: middle;
    color: white;
    text-align: center;
    font-size: 42px;
    margin-top: -24%;
    margin-bottom: 22%;
}
.featurette-divider{
    margin: 5rem 0;;
}
hr{
    height: 1px;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
img{
    margin: auto;
    display: block;
}